<!-- list -->
    <ul class="nav">
        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>Navigation</span>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.dashboard">
                <i class="glyphicon glyphicon-stats icon text-light"></i>
                <span class="font-bold">Dashboard</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.person">
                <i class="fa fa-group icon text-light"></i> <span class="font-bold">Person</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.task">
                <i class="fa fa-tasks icon text-light"></i> <span class="font-bold">Task</span>
            </a>
        </li>
        <li>
            <a href="#" class="auto">
                <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                <span class="font-bold">Dashboard</span>
            </a>
            <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                    <a href="#">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.dashboard">
                        <span>Dashboard v1</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.dashboard">
                        <b class="label bg-info pull-right">N</b>
                        <span>Dashboard v2</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
<!-- / list -->
